* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #f1f1f1;
}

/* cabeçalhos */
h1 {
	text-align: center;
	font-family: 'Josefin Sans', arial, sans-serif, serif, georgia;
}

h2 {
	text-align: center;
	font-family: 'Josefin Sans', arial, sans-serif, serif, georgia;
}

/* navegação menu */

.menu {
	margin-top: -20px;
	background-color: #F08080;
}

nav ul {
	display: flex;
	flex-flow: column wrap;
	width: 100%;
	list-style: none;
}

nav ul li {
	display: flex;
	flex-flow: column wrap;
	width: 100%;
	padding: 15px;
	font-family: arial, georgia, serif;
	font-size: 1.2em;
}

nav ul li a {
	text-decoration: none;
	color: #333;
	padding: 5px;
	transition: 0.6s;
	border-radius: 4px;
	border: 2px solid #F08080
}

nav ul li a:hover {
	background-color: white;
}

/* parágrafo de descrição livro */
p.descricao {
	text-align: center;
	font-family: arial, georgia, sans-serif, serif;
	font-size: 1.3em;
	background-color: #d0d0d0;
	padding: 10px;
	letter-spacing: 2px;
}

/* estilo do númro de quantidade */
.qtd_carrinho {
	background-color: white;
	border: 2px solid white;
	border-radius: 15px;
	padding: 5px;
}

.livro_tabela {
	display: flex;
	flex-flow: row;
	width: 100%;
	border-collapse: collapse;
	justify-content: center;
	margin-bottom: 10px;
}

tr, td {
	background-color: tomato;
	padding: 8px;
	border: 2px dashed black;
	font-family: arial, serif, georgia;
	font-size: 1.1em;
}

/* rodape */
.rodape {
	padding: 50px;
	background-color: #333;
	color: white;
	text-align: center;
	font-family: arial, georgia, serif;
}

/* formulario */
.form {
	display: flex;
	flex-flow: column wrap;
	width: 100%;
}

.form input {
	background-color: #A36464;
	padding: 15px;
	border: 2px solid black;
	border-radius: 4px;
	color: white;
	margin: 25px;
}

/* para resoluções com no minimo 730px (Telas maiores Desktop) */
@media screen and (min-width: 730px) {

/* header classe menu*/
.menu {
	margin-top: -20px;
	background-color: #F08080;
}

nav ul {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	list-style: none;
}

nav ul li {
	display: flex;
	flex-flow: row wrap;
	width: 15%;
	padding: 15px;
	font-family: arial, georgia, serif;
	font-size: 1.2em;
}

nav ul li a {
	text-decoration: none;
	color: #333;
}

/* são os itens, os produtos */
.item {
	display: flex;
	flex-flow: row wrap;
	width: 29%;
	padding: 15px;
	margin: 25px;
	border: 1px dashed black;
	background-color: #f1f1f1;
}

/* formulario */
.form {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}

.form input {
	background-color: #A36464;
	padding: 18px;
	border: 2px solid black;
	border-radius: 4px;
	color: white;
	margin: 25px;
}

}